div#g_menu_wrap {
	/*background: #2782BB;*/
	height: 290px;
	width: 630px;
	padding-left: 10px;
	float: left;


	margin-bottom: 50px;

}
/* Левая кулиса меню */
div#g_menu_side_A {
	/*background: #76ADB0;*/
	height: 280px;
	width: 310px;
	float: left;

}
/* Правая кулиса меню */
div#g_menu_side_B {
	/*background: #01865B;*/
	height: 280px;
	width: 310px;
	float: left;
	
	margin-left: 10px;
}

/* Субблоки меню галереи */
/* Левая панель */
div#g_menu_bl_1A {
	/*background: #C4CACA;*/
	background: url(../img/backp_3.png) repeat; /* Прозрачный png */
	height: 138px;
	width: 310px;
	float: left;
	margin-bottom: 4px;
	cursor: pointer;
}
div#g_menu_bl_1A:hover { background: url(../img/backp.png) repeat; /* Прозрачный png */ }
div#g_menu_bl_2A {
	/*background: #B1B3B0;*/
	background: url(../img/backp_3.png) repeat; /* Прозрачный png */
	height: 138px;
	width: 152px;
	float: left;
	cursor: pointer;
}
div#g_menu_bl_2A:hover { background: url(../img/backp.png) repeat; /* Прозрачный png */ }
div#g_menu_bl_3A {
	/*background: #7F8375;*/
	background: url(../img/backp_3.png) repeat; /* Прозрачный png */
	height: 138px;
	width: 152px;
	float: left;
	margin-left: 6px;
	cursor: pointer;
}
div#g_menu_bl_3A:hover { background: url(../img/backp.png) repeat; /* Прозрачный png */ }
/* Правая панель */
div#g_menu_bl_1B {
	background: #C4CACA;
	height: 138px;
	width: 310px;
	float: left;
	margin-bottom: 4px;
}
div#g_menu_bl_2B {
	background: #B1B3B0;
	height: 138px;
	width: 152px;
	float: left;
}
div#g_menu_bl_3B {
	background: #7F8375;
	height: 138px;
	width: 152px;
	float: left;
	margin-left: 6px;
}
/* Маркер */
div#g_ad {
    background: #2782BB;
    height: 2px;
    width: 640px;
    float: left;
}
/* Контент */
div#g_pic_wrap {
	/*background: #DECD97;*/
	background: white;
	height: 150px;
	width: 150px;
	float: left;
	margin-top: 8px;
	margin-left: 8px;

	/* Временно, прототип */
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.75);
}
div#g_pic_wrap img {
	margin-left: 22px;
}

/* Затенение корзины */
/* wraith - призрак */
.wraith {
	opacity: 0.1;
}

div#g_basket {
	margin-top: 50px;
	margin-left: 60px;
}

/* Идея с большим квадратом для Жени */
div#g_bigpic_wrap {
	/*background: #DECD97;*/
	background: white;
	height: 308px;
	width: 308px;
	float: left;
	margin-top: 8px;
	margin-left: 8px;

	/* Временно, прототип */
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.75);
}
div#g_bigpic_wrap img {
	height: inherit;
	width: auto;

	margin-left: 45px;
}

/* Красный счетчик (как в айфоне) для корзины */
div#red_cnt {
	background: red;
	height: 40px;
	/*padding-top:5px;*/
	width: 40px;
	
	color: white;
	font-weight: bolder;
	font-size: 30px;

	text-align: center;

	position: relative;

	top: -27px;
	left: -18px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

/* Секция релевантной пряжки для галереи */
div#rel_clasp_wrap {
	background: #99FF66;
	height: 220px;
	width: 345px;
	float: left;

}
/* миниатюрка пряжки, версия 1 */
div#mini_m1 {
	background: #FFCCCC;
	height: 60px;
	width: 60px;
	float: left;

	margin-top: 7px;
	margin-left: 7px;

	cursor: pointer;
}

div#mini_m1 img { max-width:100%; max-height:100%; }